.ali {
	font-family:Lucida Console,monospace;
	font-size:16px;
	font-weight:normal;
	line-height:97%;
}
.tblheader {
	font-family:Trebuchet MS, Verdana;
	letter-spacing: -0.06em;
	line-height: 96%; 
	font-size:14px;
	font-weight:normal;
}
.tc0 { color: #3e3f61 }
.tc1 { color: #585989 }
.tc2 { color: #7792ba }
.tc3 { color: #a1b4cc }
.tc4 { color: #b1c4dc }
.tc0bg { background: #3e3f61 }
.tc1bg { background: #585989 }
.tc2bg { background: #7792ba }
.tc3bg { background: #a1b4cc }
.tc4bg { background: #d7e4f7 }

circle.node {
	cursor: pointer;
	stroke: #3182bd;
	stroke-width: 1.5px;
}
line.link {
	fill: none;
	stroke: #9ecae1;
	stroke-width: 1.5px;
}


/* Amino acid css classes - default mview */
.aag { color:#33cc00; fill:#33cc00; }
.aaa { color:#33cc00; fill:#33cc00; }
.aai { color:#33cc00; fill:#33cc00; }
.aav { color:#33cc00; fill:#33cc00; }
.aal { color:#33cc00; fill:#33cc00; }
.aam { color:#33cc00; fill:#33cc00; }
.aaf { color:#009900; fill:#009900; }
.aay { color:#009900; fill:#009900; }
.aaw { color:#009900; fill:#009900; }
.aah { color:#009900; fill:#009900; }
.aac { color:#ffff00; fill:#ffff00; }
.aap { color:#33cc00; fill:#ffff00; }
.aak { color:#33cc00; fill:#ffff00; }
.aar { color:#cc0000; fill:#cc0000; }
.aad { color:#0033ff; fill:#0033ff; }
.aae { color:#0033ff; fill:#0033ff; }
.aaq { color:#6600cc; fill:#6600cc; }
.aan { color:#6600cc; fill:#6600cc; }
.aas { color:#0099ff; fill:#0099ff; }
.aat { color:#0099ff; fill:#0099ff; }
.aab { color:#666666; fill:#666666; }
.aaz { color:#666666; fill:#666666; }
.aax { color:#666666; fill:#666666; }
.aau { color:black; fill:black;   }

/* Amino acid css classes - clustal */
.clustal .aag { color:#f09048; fill:#f09048; }
.clustal .aaa { color:#80a0f0; fill:#80a0f0; }
.clustal .aai { color:#80a0f0; fill:#80a0f0; }
.clustal .aav { color:#80a0f0; fill:#80a0f0; }
.clustal .aal { color:#80a0f0; fill:#80a0f0; }
.clustal .aam { color:#80a0f0; fill:#80a0f0; }
.clustal .aaf { color:#80a0f0; fill:#80a0f0; }
.clustal .aay { color:#15a4a4; fill:#15a4a4; }
.clustal .aaw { color:#80a0f0; fill:#80a0f0; }
.clustal .aah { color:#15a4a4; fill:#15a4a4; }
.clustal .aac { color:#f08080; fill:#f08080; }
.clustal .aap { color:#c0c000; fill:#c0c000; }
.clustal .aak { color:#f01505; fill:#f01505; }
.clustal .aar { color:#f01505; fill:#f01505; }
.clustal .aad { color:#c048c0; fill:#c048c0; }
.clustal .aae { color:#c048c0; fill:#c048c0; }
.clustal .aaq { color:#15c015; fill:#15c015; }
.clustal .aan { color:#15c015; fill:#15c015; }
.clustal .aas { color:#15c015; fill:#15c015; }
.clustal .aat { color:#15c015; fill:#15c015; }
.clustal .aab { color:#666666; fill:#666666; }
.clustal .aaz { color:#666666; fill:#666666; }
.clustal .aax { color:#666666; fill:#666666; }
.clustal .aau { color:black; fill:black;   }




/* charged - positive */
.pc1 { background-color:red; }
/* charged - negative */
.pc2 { background-color:blue; }
/* polar- uncharged */
.pc3 { background-color:red; }
/* special cases */
.pc4 { background-color:yellow; }
/* hydrophobic */
.pc5 { background-color:green; }

#bb-viz-iframe {
  border-style: ridge;
  height: 530px;
  margin-left: calc(50vw - 262px);
  width: 525;
}